#title {
	font-size: 45px;
	color: white;
}

.important-notice {
	color: #E7FF33;
	text-align: center;
	font-size: 18px;
}

.info-notice {
	color: white;
	text-align: center;
	font-size: 16px;
}

#body-background-img {
	/*height: 100%;*/
	/*width: 100%;*/
	background-color: black;
	background-image: url("../images/tent.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*margin: 50px;*/
}

.form-group {
	/*padding: 20px;*/
}

.foot-note {
	font-size: 12px;
}

.list-group-item-heading {
	color: white;
}

label {
	color: white;
}

.payment-notice {
	color: #00BFFF;
	text-align: left;
}

/*hr {
	line-height: 2px;
}
*/

.list {
	background-color: #C0C0C0;
	color: black;
	text-align: center;
	font-weight: bold;
}

.col-xs-2 {
	text-align: center;
}
